<launch>

	<arg name="pt" default="$(find livox_detection)/data/livox_model_1.pt"/>
  <arg name="rviz_enable" default="true"/>



  <group ns="detection_demo">
    <node pkg="livox_detection" name="demo" type="test_ros.py" args="--pt $(arg pt)" output="screen"
    />
  </group>

	<group if="$(arg rviz_enable)">
		<node name="rviz" pkg="rviz" type="rviz" respawn="true"
				args="-d $(find livox_detection)/data/rviz.rviz"/>
    </group>

</launch>